<header class="navbar navbar-fixed-top navbar-inverse">  <div class = "container">
      <%= link_to "EnTurma", root_path, id: "logo" %>

    <ul class="pull-right">
      <li><a href="#servicos">Serviços</a></li>
      <li><a href="#sobre" >Sobre</a></li>
      <li><a href="#">Contato</a></li>

    </ul>
  </div>
</header>
