<div class = "navbar">
    <div class = "container">
      <ul class = "pull-left">
        <li><a href="#">EnTurma</a></li>
      </ul>

      <ul class="pull-right">
        <li><a href="#servicos">Serviços</a></li>
        <li><a href="#sobre" >Sobre</a></li>
        <li><a href="#">Contato</a></li>
      </ul>
    </div>
  </div>