<header class="navbar navbar-fixed-top navbar-inverse">  <div class = "container">
      <%= link_to "EnTurma", root_path, id: "logo" %>

    <ul class="pull-right">
      <%= link_to "Serviços", '/static_pages/home#servicos' %>
      <%= link_to "Sobre", '/static_pages/home#sobre' %>
      <%= link_to "Contato", '#' %>

    </ul>
  </div>
</header>
