<div id="wrap">
<div class="sent">
	<a href="<%= url_for :controller => 'StaticPages', :action => 'home' , :format => :erb %>"><img src="<%= asset_path( 'mensagem2.jpg' ) %>", align="middle"></a></div>
</div>
</div>
