<div id="wrap">
	<div class="sent">
		<h1>Obrigado!</h1>
		<h4>Cheque seu email para confirmar que a mensagem foi enviada!</h4>
		<a href="<%= url_for :controller => 'StaticPages', :action => 'home' , :format => :erb %>">Voltar.</a>
	</div>
</div>
