<div id="wrap">
<div id="main-container" class="container" onload="javascript:saveReportDivStructure()">
  <div class="row">
    <div class="bs-example bs-example-type" data-example-id="simple-headings">
      <table class="table">
        <tbody>
        <tr>
          <td><h3 id="request-title">Desculpe! Erro Interno!</h3></td>
        </tr>
        <tr>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div id="report-container">

  </div>
</div>
</div>