
<div id="main-container" class="container">
	<div class="row">
		<div class="bs-example bs-example-type" data-example-id="simple-headings">
		    <table class="table">
		      <tbody>
		        <tr>
		          <td><h3 id="request-title">Gerar um novo relatorio</h3></td>
		        </tr>
		        <tr>
		          <td><%= render 'form' %></td>
		        </tr>
		      </tbody>
		    </table>
 		 </div>
	</div>
	<div class="row">
		<div id="pb" class="col-xs-15"></div>
	</div>
</div>


