<div id="wrap">
<div id="main-container" class="container" onload="javascript:saveReportDivStructure()">
	<div class="row">
		<div class="bs-example bs-example-type" data-example-id="simple-headings">
		    <table class="table">
		      <tbody>
		        <tr>
		          <td><div class="title-relatory">
		          <h3 id="request-title">Comparar Turmas</h3>
		          </div>
		          </td>
		        </tr>
		        <tr>
		          <td><%= render 'form' %></td>
		        </tr>
		      </tbody>
		    </table>
 		 </div>
	</div>
	<div id="compare_reports-container">
		
	</div>
</div>
</div>


