# Place all the behaviors and hooks related to the matching controller here.
# All this logic will automatically be available in application.js.
# You can use CoffeeScript in this file: http://coffeescript.org/


$(document).ready ->

  $('#clean_compare_reports').click ->
    console.log ("opa")
    $('#compare_reports-container').empty().append(compare_reportsHTML)
    $('div#compare_reports-container').hide(); $('#clean_compare_reports').hide()
  

  $("#first_test_type").on("change", ()->
    showPublicType("#first_test_type","#first_public_type")
  )

  $("#second_test_type").on("change", ()->
    showPublicType("#second_test_type","#second_public_type")
  )

  $("#new-compare_reports-request").submit(() ->
    $("#compare_reports-container").empty()
    target = document.getElementById('loading');
    new Spinner({color:'#000', lines: 12}).spin(target);
    )

  $("#new-compare_reports-request").on("ajax:success", (e, data, status, xhr) ->
    $('#compare_reports-container').empty().append(compare_reportsHTML)
    $("#compare_reports-result").show()
    $("div#compare_reports-container").show(); $('#clean_compare_reports').show()
    $("#loading").empty()


    if((data.first_report.ideb.status == "available") && (data.second_report.ideb.status == "available"))
      plotBar(formatDataToPlotTwoBars(data.first_report.ideb.ideb,data.second_report.ideb.ideb,data.first_report.ideb.ideb_grade_ids, data.second_report.ideb.ideb_grade_ids, data.first_report.ideb.ideb_years[0], data.second_report.ideb.ideb_years[0]), 'ideb-graph',["IDEB 1° Turma","IDEB 2° Turma"],['blue','red'])
      appendAverageToDiv(data.first_report.ideb.ideb_average,"#average-ideb")
      appendStandardVariationToDiv(data.first_report.ideb.ideb_standard_deviation, "#standard-deviation-ideb")
      appendVarienceToDiv(data.first_report.ideb.ideb_variance, "#variance-ideb")

      appendAverageToDiv(data.second_report.ideb.ideb_average,"#average-ideb2")
      appendStandardVariationToDiv(data.second_report.ideb.ideb_standard_deviation, "#standard-deviation-ideb2")
      appendVarienceToDiv(data.second_report.ideb.ideb_variance, "#variance-ideb2")
    else
      noResultDiv("#ideb-compare_reports","<strong>Não existem dados disponíveis do IDEB para essa turma.</strong>")




    if ((data.first_report.rates.status == "available") && (data.second_report.rates.status == "available")) 
      plotLine(formatDataToPlotTwoLines(data.first_report.rates.evasion, data.second_report.rates.evasion,data.first_report.grade,data.first_report.year,data.second_report.year), 'rate-evasion-graph',["Evasão 1° Turma","Evasão 2° Turma"],['blue','red'])
      appendAverageToDiv(data.first_report.rates.evasion_average, '#average-evasion')
      appendStandardVariationToDiv(data.first_report.rates.evasion_standard_deviation, '#standard-deviation-evasion')
      appendVarienceToDiv(data.first_report.rates.evasion_variance, "#variance-evasion")

      appendAverageToDiv(data.second_report.rates.evasion_average, '#average-evasion2')
      appendStandardVariationToDiv(data.second_report.rates.evasion_standard_deviation, '#standard-deviation-evasion2')
      appendVarienceToDiv(data.second_report.rates.evasion_variance, "#variance-evasion2")

      plotLine(formatDataToPlotTwoLines(data.first_report.rates.performance, data.second_report.rates.performance,data.first_report.grade,data.first_report.year,data.second_report.year), 'rate-performance-graph', ["Rendimento 1° Turma","Rendimento 2° Turma"],['blue','red'])
      appendAverageToDiv(data.first_report.rates.performance_average, '#average-perfomance')
      appendStandardVariationToDiv(data.first_report.rates.performance_standard_deviation, '#standard-deviation-perfomance')
      appendVarienceToDiv(data.first_report.rates.performance_variance, "#variance-perfomance")

      appendAverageToDiv(data.second_report.rates.performance_average, '#average-perfomance2')
      appendStandardVariationToDiv(data.second_report.rates.performance_standard_deviation, '#standard-deviation-perfomance2')
      appendVarienceToDiv(data.second_report.rates.performance_variance, "#variance-perfomance2")

      plotLine(formatDataToPlotTwoLines(data.first_report.rates.distortion, data.second_report.rates.distortion,data.first_report.grade,data.first_report.year,data.second_report.year), 'rate-distortion-graph', ["Distorção 1° Turma","Distorção 2° Turma"],['blue','red'])
      appendAverageToDiv(data.first_report.rates.distortion_average, '#average-distortion')
      appendStandardVariationToDiv(data.first_report.rates.distortion_standard_deviation, '#standard-deviation-distortion')
      appendVarienceToDiv(data.first_report.rates.distortion_variance, "#variance-distortion")

      appendAverageToDiv(data.second_report.rates.distortion_average, '#average-distortion2')
      appendStandardVariationToDiv(data.second_report.rates.distortion_standard_deviation, '#standard-deviation-distortion2')
      appendVarienceToDiv(data.second_report.rates.distortion_variance, "#variance-distortion2")
    else
      noResultDiv("#rates","<strong>Não existem dados disponíveis para essa turma.</strong>")

  ).on "ajax:error", (e, xhr, status, error) ->
    $("#row").append "<p>ERROR</p>"

noResultDiv = (div,info) ->
  $(div).empty()
  $(div).removeClass('panel')
  $(div).removeClass('panel-default')
  $(div).addClass('alert alert-danger')
  $(div).append(info)

appendAverageToDiv = (data,div) ->
  $(div).append "<span><b>Média</b> #{data.toFixed(2)}</span>"

appendStandardVariationToDiv = (data,div) ->
  $(div).append "<span><b>Desvio Padrão</b> #{data.toFixed(2)}</span>"

appendVarienceToDiv = (data,div) ->
  $(div).append "<span><b>Variância</b> #{data.toFixed(2)}</span>"


#Generic Method to plot an array of data at specific div
plotLine = (data,div,labels,colors) ->
  new Morris.Area({

    element: div,
    data: data,
    xkey: 'x'
    ykeys: ['y1','y2']
    labels: labels
    lineColors: colors
    })

plotBar = (data,div,labels,colors) ->
  new Morris.Bar({

    element: div,
    data: data,
    xkey: 'x'
    ykeys: ['y2','y1']
    labels: labels
    lineColors: colors
    })

showPublicType = (first_div, second_div) ->
  selectedValue = $(first_div).val()
  if selectedValue == 'Publica'
    $(second_div).show()
  else
    $(second_div).hide()

#Method to format an array of data to a format that function plot needs
formatDataToPlot = (data, year, grade)->
  formatedData = []
  for value in data by 1
    formatedData.push {x: "#{grade}° ano - #{year} ", y: value}
    year++
    grade++
  return formatedData

#Method to format an array of data to a format that function plot needs
formatIDEBDataToPlot = (data, years, grades)->
  formatedData = []
  i = 0
  for value in data by 1
    formatedData.push {x: "#{years[i]} - #{grades[i]}° ano", y: value}
    i++
  return formatedData

#Method to format an array of data to a format that function plot needs
formatDataToPlotTwoLines = (firstData, secondData, grade, firstYear, secondYear)->
    formatedData = []

    diffBetweenYear = firstYear - secondYear
    diffBetweenYearModule = diffBetweenYear

    minorData =  secondData.slice()
    majorData = firstData.slice()

    if(diffBetweenYear < 0)
        minorData =  firstData.slice()
        majorData =  secondData.slice()
        diffBetweenYearModule = -diffBetweenYear

    i = 0
    j = 0

    for value in minorData by 1

        if((Object.keys(minorData).length - diffBetweenYearModule) > i)
            data = majorData[j]
            j++
        else
            data = 0

        if(diffBetweenYear<0)
          formatedData.push {x: "#{grade}° ano", y1: value, y2:data}
        else
          formatedData.push {x: "#{grade}° ano",  y1: data, y2: value}


        grade++;
        i++;
    return formatedData

formatDataToPlotTwoBars = (firstData, secondData, firstGrade, secondGrade, firstYear, secondYear)->
    formatedData = []

    diffBetweenYear = (firstYear - secondYear)/2
    diffBetweenYearModule = diffBetweenYear

    minorData =  secondData.slice()
    majorData = firstData.slice()

    grade = secondGrade.slice()

    if(diffBetweenYear < 0)
        grade = firstGrade.slice()
        minorData =  firstData.slice()
        majorData =  secondData.slice()
        diffBetweenYearModule = -diffBetweenYear

    i = 0
    j = 0

    for value in minorData by 1

        if((Object.keys(minorData).length - diffBetweenYearModule) > i)
            data = majorData[j]
            j++
        else
            data = 0

        labelX = "#{grade[i]}° ano"

        if(diffBetweenYear<0)
          formatedData.push {x: labelX,  y1: data, y2: value}
        else
          formatedData.push {x: labelX,  y1: value, y2: data}


        i++
    return formatedData





compare_reportsHTML = '
        <div id="compare_reports-result" style="display: none;">
         <div id="ideb-compare_reports" class="panel panel-default">
                <div class="panel-heading"><h4>Ideb</h4></div>
                <div id="panel-body-ideb" class="panel-body-ideb">
                    <div class="row">
                    </div>
                    <div class="row">
                        <div class="col-xs-6"><div id="ideb-graph"></div>
                            <div class="row">
                                <div id="ideb">
                                  <div id="inner">
                                      <h5> <font color="blue">1ª Turma</font> </h5>
                                        <div id="average-ideb" class="col-xs-4"></div>
                                        <div id="standard-deviation-ideb" class="col-xs-4"></div>
                                        <div id="variance-ideb" class="col-xs-4"></div>
                                      <br>
                                      
                                      <h5><font color="red">2ª Turma</font></h5>
                                        <div id="average-ideb2" class="col-xs-4"></div>
                                        <div id="standard-deviation-ideb2" class="col-xs-4"></div>
                                        <div id="variance-ideb2" class="col-xs-4"></div>
                                  </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6">
                          <div id="ideb-graph-text">
                            <div class="description-col-md-6">
                            <p style="text-align: justify;"><font face="cursive"> &nbsp &nbsp &nbsp &nbsp
                                O Índice de Desenvolvimento da Educação Básica (Ideb) tem o objetivo de
                                reunir em um único indicador dois conceitos importantes para a qualidade
                                da educação: fluxo escolar e média de desempenho nas avaliações.
                                </font></p>

                            <p style="text-align: justify;"><font face="cursive"> &nbsp &nbsp &nbsp &nbsp
                             Ele agrega ao enfoque pedagógico dos resultados das avaliações em larga escala do
                             <a href="http://portal.inep.gov.br/" target="_blank">Inep</a>
                             a possibilidade de resultados sintéticos, facilmente assimiláveis, e que permitem
                             traçar metas de qualidade educacional para os sistemas. O indicador é calculado
                             a partir dos dados sobre aprovação, obtidos no Censo Escolar, e médias de desempenho
                             nas avaliações do Inep: o Seab (para unidades da federação e para o país) e a Prova
                             Brasil (para os municípios).</font></p>

                          </div>
                          </div>
                        </div>
                    </div>

                </div>
            </div>
            <br />
            <br />            

                <div id = "rates" class="panel panel-default">
                <div class="panel-heading"><h4>Índices</h4></div>
                <div class="evasion">
                <div class="panel-body">
                    <div class="row">

                        <h4>Evasão</h4>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                          <div id="rate-evasion-graph"></div>
                           <div class="rate-evasion">
                        <div id="rate-evasion">
                            <h5> <font color="blue">1ª Turma </font></h5>
                              <div id="average-evasion" class="col-xs-4"></div>
                              <div id="standard-deviation-evasion" class="col-xs-4"></div>
                              <div id="variance-evasion" class="col-xs-4"></div>
                            <br>
                            
                            <h5> <font color="red">2ª Turma </font> </h5>
                              <div id="average-evasion2" class="col-xs-4"></div>
                              <div id="standard-deviation-evasion2" class="col-xs-4"></div>
                              <div id="variance-evasion2" class="col-xs-4"></div>
                            
                        </div>
                    </div>
                        </div>
                        <div class="col-md-6">
                        <div id="rate-evasion-graph-text">
                        <div class="row">
                        <div id="rate-evasion">
                            
                        </div>
                        </div>
                        </div>
                          <div class="description-col-md-6">

                              <p style="text-align: justify;"><font face="cursive"> &nbsp &nbsp &nbsp &nbsp
                                O Índice de Evasão retrata o percentual de alunos que deixaram
                                de frequentar a escola, caracterizando dessa forma abandono escolar.</font></p>

                              <p style="text-align: justify;"><font face="cursive">  &nbsp &nbsp &nbsp &nbsp
                                Tal índice é obtido por meio do Censo Escolar pelo Inep e
                                compõe o Índice de Desenvolvimento da Educação Brasileira (Ideb).</font></p>

                          </div>
                          </div>
                    </div>
                  </div>
                </div>
                <div class="rendiment">
                <div class="panel-body">
                    <div class="row">
                        <h4>Rendimento</h4>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                        <div id="rate-performance-graph-text">

                        </div>
                          <div class="description-col-md-6">
                            <p style="text-align: justify;"><font face="cursive"> &nbsp &nbsp &nbsp &nbsp
                                O Índice de Rendimento é baseado na Anresc. A Avaliação Nacional do Rendimento
                                Escolar (Anresc) é uma avaliação criada pelo Ministério da Educação. Sendo
                                complementar ao Sistema Nacional de Educação Básica e um dos componentes para
                                o cálculo do Índice de Desenvolvimento da Educação Básica, a avaliação é realizada
                                a cada dois anos e participam todos os estudantes de escolas públicas urbanas do 5º
                                ao 9º ano em turmas com 20 ou mais alunos.</font></p>

                            <p style="text-align: justify;"><font face="cursive"> &nbsp &nbsp &nbsp &nbsp
                             A avaliação é dividida em duas provas: Língua Portuguesa e Matemática.</font></p>

                          </div>
                        </div>
                        <div class="col-md-6">
                        <div id="rate-performance-graph"></div>
                        <div class="rate-performance">
                         <div id="rate-performance">
                            <h5><font color="blue"> 1ª Turma </font></h5>
                            <div id="average-perfomance" class="col-xs-4"></div>
                            <div id="standard-deviation-perfomance" class="col-xs-4"></div>
                            <div id="variance-perfomance" class="col-xs-4"></div>
                            <br>
                           
                            <h5> <font color="red">2ª Turma </font></h5>    
                            <div id="average-perfomance2" class="col-xs-4"></div>
                            <div id="standard-deviation-perfomance2" class="col-xs-4"></div>
                            <div id="variance-perfomance2" class="col-xs-4"></div>
                         </div>
                    </div></div>
                    </div>

                </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <h4>Distorção</h4>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                        <div id="rate-distortion-graph"></div>
                        <div class="rate-distortion">
                         <div id="rate-distortion">
                            <h5> <font color="blue">1ª Turma </font></h5>
                            <div id="average-distortion" class="col-xs-4"></div>
                            <div id="standard-deviation-distortion" class="col-xs-4"></div>
                            <div id="variance-distortion" class="col-xs-4"></div>
                            <br>
                            
                            <h5> <font color="red">2ª Turma</font>   </h5>
                            <div id="average-distortion2" class="col-xs-4"></div>
                            <div id="standard-deviation-distortion2" class="col-xs-4"></div>
                            <div id="variance-distortion2" class="col-xs-4"></div>
                         </div>
                        </div>
                        </div>
                        <div class="col-md-6"><div id="rate-distortion-graph-text"></div>
                          <div class="description-col-md-6">
                            <p style="text-align: justify;"><font face="cursive"> &nbsp &nbsp &nbsp &nbsp
                              O Índice de Distorção representa o percentual de alunos que se encontram em
                              condição de distorção idade-série.</font></p>
                            <p style="text-align: justify;"><font face="cursive"> &nbsp &nbsp &nbsp &nbsp
                              O aluno que reprova ou abandona os estudos por dois anos ou mais
                              durante a trajetória de escolarização, repetindo por consequência uma mesma
                              série, se encontra em defasem em relação à idade considerada adequada para
                              cada ano de estudo, de acordo com o que propõe a legislação educacional do
                              país. </font></p>
                            <p style="text-align: justify;"><font face="cursive"> &nbsp &nbsp &nbsp &nbsp
                            Neste caso o aluno será contabilizado na situação de distorção idade-série.</font></p>

                          </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>'
