

.navbar{
  position: fixed;
  top:0;
  left:0;
  background-color: white;
  z-index: 9999;
  width:100%;
  border-radius:0;
}

.navbar .container{
  position: relative;
  margin-top:15px;
}

.navbar a{
  color: #F7F7F7;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
}

.navbar .pull-right a {
  padding-left:20px;

}

.navbar li{
  display: inline;
}
