@font-face {
  font-family: 'Shift';
  font-style: normal;
  font-weight: normal;
  src: url("shift.woff") format("woff");
}
@font-face {
  font-family: 'Shift';
  font-style: normal;
  font-weight: bold;
  src: url("shift-bold.woff") format("woff");
}

@font-face{
	font-family: 'Lato';
	font-style: normal;
  	font-weight: normal;
  	src: url('fonts/Lato-Regular.ttf');
}

@font-face{
	font-family: 'Lato';
	font-style: normal;
  	font-weight: bold;
  	src: url('fonts/Lato-Bold.ttf');
}

@font-face{
	font-family: 'Lato';
	font-style: normal;
  	font-weight: semibold;
  	src: url('fonts/Lato-Semibold.ttf');
}

@font-face{
	font-family: 'Bebas Neue';
	font-style: normal;
  	font-weight: normal;
  	src: url('fonts/BebasNeue.otf');
}